.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: black;
  opacity: 0.3;
}

.modal {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  z-index: 3;
  background-color: var(--secondary);
  width: 70vw;
  max-width: 800px;
  height: 90vh;
}

.hashtags {
  display: grid;
  grid-auto-rows: 12rem;
  justify-content: center;
  column-gap: 2rem;
  width: 100%;
}

.hashtag {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  width: 100%;
}

.hashtag:hover {
  cursor: pointer;
  background-color: var(--secondary-2);
}

.hashContainer > svg {
  color: var(--text);
  width: 100%;
  height: auto;
  aspect-ratio: 1;
}

.hashContainer {
  padding: 1rem;
  border: 1px solid var(--secondary-2);
}

.hash {
  font-size: var(--font-700);
}

.edits {
  color: var(--text-2);
}
