.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  max-width: 1000px;
  max-height: 778px;
  box-sizing: border-box;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 16px;
  padding: 50px 100px;
  background-color: var(--primary-subtle);
  border: 1px solid var(--primary-stroke);
  border-radius: var(--border-large);
}

.or {
  font-size: var(--font-body);
  opacity: 20%;
}
