:root {
  --primary: #272838;
  --secondary: #303143;
  --secondary-2: #42415D;
  --accent: #EA6666;
  --text: #FFFFFF;
  --error: #F32929;

  --font-350: calc(var(--font-400) - .125rem);
  --font-400: 1rem;
  --font-500: calc(var(--font-400) + .125rem);
  --font-700: calc(var(--font-400) + .5rem);
  --font-800: calc(var(--font-400) + 1.25rem);
  --font-900: calc(var(--font-400) + 1.5rem);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: var(--font-800);
}

h2 {
  font-size: var(--font-700);
}

h3 {
  font-size: var(--font-500);
  font-weight: 400;
}

p,
select,
button,
div {
  font-size: var(--font-400);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--text-primary);
}

a {
  text-decoration: none;
}

html {
  background-color: var(--primary);
}

.hide {
  display: none;
}
