.hashtags {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.hashtag {
  position: relative;
  background-color: var(--secondary);
  border: 1px solid var(--secondary-2);
  border-radius: var(--border-radius);
  padding: 0.8rem 2rem;
  padding-right: 3rem;
  height: fit-content;
}

.remove {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  padding: 0.4rem;
}

.remove > svg {
  width: 16px;
  height: auto;
  color: var(--secondary-2);
}

.plus {
  width: 3rem;
  aspect-ratio: 1;

}

.plus > svg {
  color: var(--accent-yellow);
  width: 100%;
  height: auto;
}
