.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 200px;
  border-right: 1px solid var(--secondary-2);
  padding: 2rem;
}


.step > button {
  width: 100%;
  height: fit-content;
  padding: 0.5rem 0rem;
  border-radius: 300px;
}

.step.active {
  opacity: 100%;
}

.step.notActive {
  opacity: 40%;
}

.step:hover {
  opacity: 100%;
}

.index {
  top: -1.2rem;
  left: 0;
  font-weight: bold;
}

.step.active > .index {
  color: var(--accent-yellow);
}

